@font-face {
    font-family: "San Francisco Pro Fonts";
    src: url("../font/SF-Pro-Display-Medium.otf") format("opentype");
    }
.d-flex{
    display: flex;
}
.d-flex-just{
    justify-content: space-between;
}
.p-20{
    padding: 20px !important;
}
.m-auto-20{
    margin: 20px auto !important;
}
.header-hr{
    border-bottom: 1px solid var(--aui-border);
    padding-bottom: 20px !important;
}    
html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    font-family: "San Francisco Pro Fonts";
    height: 100%;
    background-color: #f4f5f7;
}
#content{
    padding: 0 20px !important;
}
.wrapp{
    height: 100%;
    overflow: auto;
}
nav{
    background: transparent;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
nav .logo{
    display: flex;

}
nav ul{
    display: flex;
    list-style: none;
    padding-inline-start: 40px;
}
nav ul li{
    padding: 0 8px;
}
nav ul li a{
    text-decoration: none;
    color: #344563;
}

.nav-item{
    display: flex;
    align-items: center;
}
.nav-item .aui-buttons{
    margin-left: 21px;
}
.nav-item .aui-buttons > a{
    margin: 0 4px;
}
.nav-item .block-account{
   display: flex;
   align-items: center;
}
#form{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.forma-main{
    width: 600px;
}
.form-header{
    box-shadow: 0 3px 5px #091e4221;
    height: 80px;
    border-radius: 4px;
    background-color: white;
}
.form-body{
    box-shadow: 0 3px 5px #091e4221;
    min-height: 150px;
    border-radius: 4px;
    margin-top: 24px;
    background-color: white;
}
.form-body table, .form-header-block-avatar table{
    margin-left: 10%;
}
.form-header-backgraund{
    background-image: url(../img/backgraund_user.png);
    height: 50px;
}
.form-header-block-avatar{
    margin-top: -16px;
}
.form-body-lable{
    text-align: right;
    font-size: 0.9rem;
    color: #6B778C;
    min-width: 110px;
}

h5{
    color: #344563;
    padding: 8px 0;
    margin: 0;
}
.btn-icon{
    background: none;
    border: none;
    display: none;
}
footer{
    max-height: 20px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color: #97A0AF;
}
.aui-page-panel{
    margin: 20px auto;
    border-radius: 5px;
    max-width: 576px;
    width: 576px;
    border: none;
}
.main-banner{
    background-image: url(../img/bg-banner.jpg);
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-banner-form{
    width: 25rem;
}
.main-banner-form .field-group{
    display: flex;
    padding: 0 !important;
    align-items: center;
}
.main-banner-form .field-group .buttons{
    margin-left: -25px;
}
.aui-main-page{
    margin-top: 21px;
}
.aui-main-page .aui-group{
    display: flex;
}
.aui-table-new .field-group{
    padding: 0 !important;
}
.aui-table-new header{
    width: auto !important;
}
#left-side{
    display: none;
}
@media (max-width: 544px){
    .aui-main-page .aui-group{
        display: flex;
        flex-direction: column;
    }
    .aui-main-page > .aui-group>.aui-item+.aui-item{
        padding: 0 !important;
    }
    .main-banner{
        height: 14rem;
    }
    
    .forma-main{
        width: auto;
    }
    .nav-item .aui-buttons{
        display: none;
    }
    .nav-item-rigth{
        display: none;
    }
    .nav-list{
        display: none;
    }
    #form{
        height: auto;
    }
    .btn-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        display: block;
    }
    #left-side{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: #F4F5F7;
        left: -100vw;
        top:0;
        
    }
    #left-side.open{
        left: 0;
        display: block;
    }
    .aui-page-panel{
        margin: 20px auto !important;
        border-radius: 5px;
        max-width: 90%;
        width: 90%;
        border: none;
    }
}