@font-face {
    font-family: "San Francisco Pro Fonts";
    src: url("../font/SF-Pro-Display-Medium.otf") format("opentype");
    }
    button:active, button:focus {
        outline: none !important;
      }
      button::-moz-focus-inner {
        border: 0 !important;
      }
      input, textarea, select,a {outline:none !important; box-shadow: none;}
      input:focus, textarea:focus, select:focus,a:focus {outline:none !important; box-shadow: none;}
   .basic-number{
       vertical-align: middle !important;
   } 
a:focus{
    box-shadow: none !important;
}
.aui-main-page{
    padding: 0;
}
.menu-block-nav li a{
    color: #344563;
    font-size: 1.2rem;
}
.menu-block-nav {
    margin-top: 21px !important;
}
.menu-block-nav li{
    padding: 10px 0 !important;
    margin: 0 21px !important;
    border-bottom: 1px solid #c7c7c7;
    text-align: left;
}
.menu-block-user{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-block-user .aui-avatar-inner{
    border: 3px solid #fff;
}
.menu-block-user-name{
    margin-top: 7px;
}
.menu-block-user-mail{
    margin-top: -7px;
}
.menu-block-user-mail a{
    color: var(--aui-tabs-tab-text-color);
}
.block-group{
    display: flex;
}
.block-group table.aui>tbody>tr:first-child>td, .block-group table.aui>tbody>tr:first-child>th, .block-group table.aui>tfoot>tr:first-child>td, .block-group table.aui>tfoot>tr:first-child>th {
    border-top: none !important;
    border-bottom: 1px solid var(--aui-table-border-color);
}
.left-block{
    padding-right: 7px;
    display: block;
}
.right-block{
    padding-left: 7px;
    display: block;
}
.aui-item-margin{
    margin-bottom: 14px;
}
#output{
    min-height: 45px;
    border: 2px dashed #6B778C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-100-input select{
    max-width: none !important;
}   
.aui-tabs.vertical-tabs>.tabs-menu>.menu-item.active-tab a{
    box-shadow: none !important;
}   
.tabs-menu li a{
    font-size: 1.2rem;
    outline: none !important;
}
.tabs-menu li a:active, .tabs-menu li a:focus, .tabs-menu li a:hover{
    outline: none !important;
}
*:focus, *:active {
    outline-style: none !important;
}

.back_door{
    background: #fff;
    padding: 7px;
}    
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}    
.button-tabs-menu-my{
    position: absolute;
    right: 18px;
    bottom: 4px;
}
.main-banner h1{
    font-size: 28px;
}    
.d-flex{
    display: flex;
}
.d-flex-just{
    justify-content: space-between;
}
.p-20{
    padding: 20px !important;
}
.m-auto-20{
    margin: 20px auto !important;
}
.header-hr{
    border-bottom: 1px solid var(--aui-border);
    padding-bottom: 20px !important;
}    
html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    font-family: "San Francisco Pro Fonts";
    height: 100%;
    background-color: #fbfbfb !important;
}
#content{
    padding: 0 49px !important;
}
.wrapp{
    height: 100%;
    overflow: auto;
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    background: transparent;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    align-items: center;
}
nav .logo{
    display: flex;

}
nav ul{
    display: flex;
    list-style: none;
    padding-inline-start: 40px;
}
nav ul li{
    padding: 0 8px;
}
nav ul li a{
    text-decoration: none;
    color: #344563;
}

.nav-item{
    display: flex;
    align-items: self-start;
}
.nav-item .aui-buttons{
    margin-left: 21px;
}
.nav-item .aui-buttons > a{
    margin: 0 4px;
}
.nav-item .block-account{
   display: flex;
   align-items: center;
}
.nav-item .block-account img{
    border: 2px solid #fff;
    border-radius: 25px;
}
#form{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.forma-main{
    width: 600px;
}
.form-header{
    box-shadow: 0 3px 5px #091e4221;
    height: 80px;
    border-radius: 4px;
    background-color: white;
}
.form-body{
    box-shadow: 0 3px 5px #091e4221;
    min-height: 150px;
    border-radius: 4px;
    margin-top: 24px;
    background-color: white;
}
.form-body table, .form-header-block-avatar table{
    margin-left: 10%;
}
.form-header-backgraund{
    background-image: url(../img/backgraund_user.png);
    height: 50px;
}
.form-header-block-avatar{
    margin-top: -16px;
}
.form-body-lable{
    text-align: right;
    padding: 7px 10px;
    min-width: 110px;
}
.main-banner #text-input{
height: 45px !important;
max-width: 100%;
padding-left: 14px;
}

h5{
    color: #344563;
    padding: 8px 0;
    margin: 0;
}
.btn-icon{
    background: none;
    border: none;
    display: none;
}
footer{
    max-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -24px;
    color: #97A0AF;
    font-size: 0.8rem;
    font-weight: 400;
}
.aui-page-panel{
    margin: 20px auto;
    border-radius: 5px;
    max-width: 576px !important;
    width: 576px;
    border: none;
    border: 1px solid #fff !important;
}
.aui-page-panel-tabs{
    margin: 0 auto;
    width: 60%;
    /* background: var(--aui-page-background); */
    border: solid var(--aui-page-border);
    border-width: 0 0 1px;
    box-sizing: border-box;
}
.aui-page-panel-tabs .aui-block-termit{
    align-items: flex-start;
}

.aui-block-termit h2{
    padding-left: 14px;
}
.aui-page-panel-tabs .aui-block-inner-block img{
    
}
.tabs-menu-new{
    padding-top: 20px !important;
}
.main-banner{
    background-image: url(../img/bg-banner.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #fff;
}
.main-banner-form{
    width: 60%;
}
.main-banner-form .field-group{
    display: flex;
    padding: 0 !important;
    align-items: center;
}
.main-banner-form .field-group .buttons{
    margin-left: -25px;
}
.aui-page-panel-inner-shadow{
    box-shadow: 0px 0px 9px #6666663b;
    padding: 7px 0;
}
.aui-main-page{
    margin-top: 21px;
}
.aui-main-page .aui-group{
    display: flex;
}
.aui-table-new .field-group{
    padding: 0 !important;
}
.aui-table-new header{
    width: auto !important;
}
#left-side{
    display: none;
}
.aui-buttons-desk{
    display: block;
}
.aui-buttons-mob{
    display: none !important;
}
.aui-block-termit{
    display: flex;
    flex-direction: column;
}
.aui-block-inner-block-tabs-vertical{
    padding-bottom: 14px;
    align-items: center;
}
.aui-block-inner-block-tabs-vertical .img-block{
    flex: 1 1 14%;
}
.aui-block-inner-block-tabs-vertical .aui-block-termit{
    flex: 1 1 80%;
}

.aui-block-inner-block{
    display: flex;
}
.aui-block-inner-block img{
    max-width: 60px;
}
.aui-block-termit-index p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 14px !important;
}
.aui-block-termit p{
    padding-left: 14px;
    /* min-height: 8rem; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.aui-block-termit img{
    height: 50px;
    
}
.aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless):before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    speak: none;
    content: "\f15b";
    content: var(--aui-dropdown-ig);
    font-family: Adgs Icons;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    right: 4px;
    text-indent: 0;
    top: 65% !important;
    width: 16px;
}
#btn-burger.active > .btn-burger-item-one{
        
    opacity: 0;
} 
#btn-burger.active > .btn-burger-item-four{
    opacity: 0;
}
#btn-burger.active > .btn-burger-item-two{
    transform: rotate(45deg);
} 
#btn-burger.active > .btn-burger-item-three{
    transform: rotate(-45deg);
} 
.btn-burger{
    position: relative;
    width: 30px;
    height: 24px;
    display: flex;
}
.btn-burger .btn-burger-item{
    border-bottom: 2px solid #0052cc;
    position: absolute;
    width: 100%;
    transition: 0.2s;
}
.btn-burger-item-one{
    top: 0;
}
.btn-burger-item-two,.btn-burger-item-three{
    top: 50%;
    transform: translateY(-50%);
}
.btn-burger-item-four{
    bottom: 0;
}
.mob-block-slider{
    display: none;
}
@media (max-width: 544px){
    .aui-main-page{
        padding: 0 14px;
    }
    .aui-page-panel-tabs{
        width: auto;
    }
    .mob-block-slider{
        display: block;
    }
    #content {
        padding: 0 !important;
    }
    .block-group{
        display: flex;
        flex-direction: column;
    }
    .left-block, .right-block{
        display: none;
    }
    .main-banner-form{
        width: 100%;
    }
    .aui-buttons-desk{
        display: none !important;
    }
    .aui-buttons-mob{
        display: inline-flex !important;
    }
    .aui-main-page .aui-group{
        display: flex;
        flex-direction: column;
    }
    .aui-main-page > .aui-group>.aui-item+.aui-item{
        padding: 0 !important;
    }
    .main-banner{
        height: 14rem;
        margin: 0 14px;
    }
    
    .forma-main{
        width: auto;
    }
    .nav-item .aui-buttons{
        display: none;
    }
    .nav-item-rigth{
        display: none;
    }
    .nav-list{
        display: none;
    }
    #form{
        height: auto;
    }
    .btn-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        display: block;
    }
    #left-side{
        position: absolute;
        height: calc(100vh - 42px);
        width: 100vw;
        background: #F4F5F7;
        left: -100vw;
        top:0;
        
    }
    #left-side.open{
        left: 0;
        display: block;
        margin-top: 42px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 999;

    }
    .aui-page-panel{
        margin: 20px auto !important;
        border-radius: 5px;
        max-width: 90%;
        width: 90%;
        border: none;
    }
    .aui-nav .aui-nav-item{
        padding: 7px 10px;
    }
    .main-banner-form .field-group {
        display: flex;
        padding: 0 !important;
        align-items: center;
        justify-content: center;
    }
    form.aui.aui-legacy-forms .long-field, form.aui:not(.aui-legacy-forms) .long-field {
        max-width: 90% !important;
    }
    
}